{% extends 'base.html' %}
{% block content %}
{{ super() }}
<form action="/catalog-change" method="post" class="product" enctype=multipart/form-data>
    <p><label>Название товара:<label/><input type="text" name="name" value="" autocomplete="off" required > </label>
    <p><label>Цена:<label/><input type="text" name="price" value="" autocomplete="off" required /> </label>
    <p><label>Название изображения:<label/><input type="file" name="image" enctype="multipart/form-data" value="" autocomplete="off" required /> </label>
    <p><input type="submit" value="Отправить" /></p>
</form>
{% endblock %}
